.header {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 0;
}

.icon {
  color: var(--accent-color);
}

.passengers-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--grey);
  max-width: var(--max-width);
	width: 100%;
	padding: 8px;
}

.passengers-wrapper .left {
  display: flex;
  flex-direction: column;
  gap: 8px;
	align-items: flex-start;
  justify-content: flex-end;
	width: 40%;
}

.passengers-wrapper .right {
  display: flex;
	flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  justify-content: flex-end;
	width: 60%;
}

.from, .to {
	cursor: pointer;
	padding: 4px;
	border-radius: 8px;
}

.passengers-wrapper .right .from:hover, .passengers-wrapper .right .to:hover, .passengers:hover {
  background-color: var(--grey-light);
}

.passengers {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--black);
	cursor: pointer;
	padding: 4px;
	border-radius: 8px;
}

.adult-icon {
  font-size: 18px;
}

.child-icon {
  font-size: 18px;
}

.location-icon {
  font-size: 20px;
}

.address-label {
  color: var(--black);
  font-weight: 500;
  max-width: 200px;
  line-height: 1.4;
	text-align: start;
	font-size: var(--font-size-small);
}

/* Адаптивность для мобильных устройств */
@media (max-width: 480px) {
  .passengers-wrapper {
    flex-direction: column;
    gap: 16px;
    padding: 12px;
  }
  
  .passengers-wrapper .left {
		width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
  
  .passengers-wrapper .right {
		width: 100%;
    justify-content: space-around;
		white-space: nowrap;
  }
  
  .address-label {
    text-align: center;
  }
}