.header {
	background-color: var(--grey);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 16px 0;
}

.icon {
	color: var(--accent-color)
}