input {
	padding: var(--button-padding);
	text-align: center;
	width: 100%;
	font-size: var(--font-size-big);
}

.section {
	width: 80%;
	margin: 16px auto;
}

.resend-text-wrapper {
	color: var(--grey);
	text-align: center;
}

.resend-text-wrapper span {
	font-size: 1rem;
}
