.toast-wrapper {
	position: absolute;
	bottom: 20px;
	padding: 16px 24px;
	border-radius: 8px;
	max-width: calc(var(--max-width) - 100px);
}

.visible {
	display: block;
}

.invisible {
	display: none;
}

.success {
	background-color: green;
	color: var(--white)
}

.warning {
	background-color: yellow;
	color: var(--black);
}

.error {
	background-color: red;
	color: var(--white);
}