$base-color: #008CCE;
* {
  box-sizing: border-box;
}
.primary-color {
  color: $base-color;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-name {
  text-transform: uppercase;
}
.input-email {
  min-width: 320px;
  padding: 16px;
  font-size: 18px;
  text-align: center;
  border: 1px solid $base-color;
  border-radius: 4px;
  margin-bottom: 12px;
}
.input-email:focus {
  border: 1px solid $base-color;
  outline: none;
}

.get-code-button {
  display: block;
  width: 100%;
  padding: 16px 0;
  background-color: $base-color;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid $base-color;
  border-radius: 4px;
  transition: .2s;
}

.get-code-button:hover {
  background-color: gray;
}

.get-code-button:active {
  transform: scaleX(1.05);
}
