$base-color: #008cce;
$success-color: #158424;
* {
  box-sizing: border-box;
}
.primary-color {
  background-color: $base-color;
  color: white;
}
.success-color {
  background: $success-color;
  color: white;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-name {
  text-transform: uppercase;
}
.input {
  min-width: 320px;
  padding: 16px;
  font-size: 18px;
  text-align: center;
  border: 1px solid $base-color;
  border-radius: 4px;
  margin-bottom: 12px;
}
.input:focus {
  border: 1px solid $base-color;
  outline: none;
}

.button {
  display: block;
  width: 100%;
  padding: 16px 0;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid $base-color;
  border-radius: 4px;
  transition: 0.2s;
  margin-bottom: 12px;
}

.button:hover {
  background-color: gray;
}

.button:active {
  transform: scaleX(1.05);
}
